

@font-face {
    font-family: 'CactusMedium';
    src: url('CactusMedium2.css') format('woff2'),
        url('CactusMedium1.css') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
	font-family: 'Helvetica Light';
	font-style: normal;
	font-weight: normal;
	src: url('helvetica1.css') format('woff');
}

div.cfix {
	clear:both;
}

div.logo {
	height: 30vh;
	background-image: url('logo.png');
	background-repeat: no-repeat;
  	background-position: center;
  	background-size: 150px;
}

div#frase {
	height: 40vh;
}

div.frase {
	color:white;
	text-align: center;
}

section#quiz-content0 {
	cursor: pointer;
}

section#barraprogresso {
	margin-bottom: 40px;
}

.quiz-inativo {
	display: none !important;
}

div.frase span#grande{
	text-align: center;
    font-family: 'Cactusmedium';
    font-size: 74px;
    line-height: 1.1;
}

div#frase span#peq{
	font-size: 20px;
}

div.paipasso {
	text-align: center;
}

div.numeropasso {
	font-family: 'Helvetica Light';
	font-size: 40px;
	border: 2px solid;
	border-radius: 50%;
	width: fit-content;
	text-align: center;
	display: inline;
	padding: 15px;
	color: #8bb0de;
}

div#rodapequiz {
	background-image: url('essencias.jpg');
	background-repeat: no-repeat;
	background-position: center;
  	height: 30vh;
  	background-size: cover;
}

.progress{
   	display: flex;
   	justify-content: space-between;
   	position: relative;
	margin: 0% 5%;
	background: transparent;
	height: auto;
}

.bolinha{
	z-index:1;
	height:30px;
	width:30px;
	border-radius:25px;
}

.progress::before{
	background-color: #cbcbcb;
	width: 98%;
	left: 3px;
	content: '';
	position: absolute;
	top: 50%;
	height: 6px;
	transform: translateY(-50%);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.info-color{
	background-color:#8bb0de;
}
.no-color{
	background-color: #cbcbcb;
}

.pt-3 {
	padding-top: 3%;
}

.pb-5 {
	padding-bottom: 5%;
}

.pb-1 {
	padding-bottom: 1%;
}

.mt-3 {
	margin-top: 3%;
}

div.pergunta {
    color: white;
	font-size: 60px;
	text-shadow: 3px 3px 20px rgba(0, 0, 0, 0.877);
	line-height: 63px;
}

div.imgbordabranca {
    border: 2.5px solid #FFF;
	margin-bottom: 10px;
	position: relative;
    float: left;
    width:  100%;
    height: 180px;
	background-repeat: no-repeat;
	background-position: center;
    background-size: contain;
	transition: all 0.4s;
} 

div.imgbordabranca:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  color: white;
}

.col-sm-2 div.imgbordabranca {
	 height: 170px;
}

#institucional-page {
	background: #B6BBB6;
	margin: 0px;
	position: relative;
	color: white;
	font-family: CactusMedium;
	font-size: 20pt;
    line-height: 1;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}

a:hover{
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
  cursor: pointer;
}

#institucional-content {
	display:none;
}

#institucional-page:before{
background: -moz-linear-gradient(top, rgba(90,91,89,1) 0%, rgba(225,225,225,0) 82%, rgba(255,255,255,0) 100%);
background: -webkit-linear-gradient(top, rgba(90,91,89,1) 0%,rgba(225,225,225,0) 82%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(90,91,89,1) 0%,rgba(225,225,225,0) 82%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a5b59', endColorstr='#00ffffff',GradientType=0 );
	margin: 0px;
	position: absolute;
	top: 0;
	width: 100%;
	height: 40vh;
	content: '';
	z-index: -1;
	
}

.header-container {
 background: white;
}

.page {
	background-image: url('background-quiz.png');
	background-size: cover;
	background-attachment: local !important;
	height: 100vh;
	overflow-y: auto !important;
	position: relative;
	z-index: 3;
}

.resultado {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	font-family: 'Banda';
}

.resultado .logo {
	min-height: 20vh;
	height: 20vh;
    width: 100%;
    margin-top: 10%;
    background-image: url(logonegativo.png);
}

.resultado .frase span{
	height: auto;
	font-family: 'Cactusmedium'; 
}


.resultado .frase span#grande {
    font-size: 40pt;
}

.resultado .baseado {
	color: black;
	padding: 5px 0px;
}

.resultado .baseado li{
	font-size: 12px;
}

.resultado .imgperfume {
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #B6BBB6;
    transition: all 0.4s;
    min-height: 130px;
    height: 100%;
}

.resultado span.txtopcao {
	color: black;
}

.resultado .prateleira .product-name a{
	padding: 0px;
	font-size: 24px;
}

.resultado .btn-add-buy-button-asynchronous {
	letter-spacing: 1px;
   	font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.resultado .prateleira .produt-image{
	margin-bottom: -5px;
}

.resultado .prateleira .experimente {
	margin-top: 5px;
}

.resultado #frase2 {
	text-align: center;
}

.resultado #frase2 .frase {
	font-family: 'Cactusmedium';
	font-size: 44px;
}


@media screen and (max-width: 600px) {

	section#quiz-content0 {
		height: 75vh;
	}

	.resultado {
		padding-top: 0px;
	}

	.resultado .btn-add-buy-button-asynchronous {
		font-size: 15px;
	}

	.resultado .prateleira .product-name a{
		font-size: 20px;
	}

	.resultado .frase span{
		font-size: 32pt;
	}

	.resultado .baseado li{
		font-size: 10px;
	}

	section#barraprogresso {
		margin-bottom: 25px;
	}

	span.txtopcao {
		padding: 0px 15px;
		text-align: center;
		font-size: 22px;
		line-height: 24px;
		display: block;
	}

	div.numeropasso {
		font-size: 20px;
	}

	.bolinha{
		height:15px;
		width:15px;
	}

	.progress::before{
		height: 3px;
	}

  	div.logo {
  		background-size: 35vw;
	}
	
	div#rodapequiz {
	  	height: 25vh;
	}

	div.pergunta {
		font-size: 40px;
		line-height: 42px;
		margin-top: 10px;
	}
	
}

.opcoes-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.opcoes-list .opcao{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	width: 200px;
	height: auto;
	margin: 20px 5px;
}

.txtopcao{
	font-family: 'Cactusmedium';
}

.bg-perfume{
	z-index: -1;
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat;
	width: 320px;
	height: 420px;
}

#perfume1{
	left: -10%;
	top: -10%;
	background-image: url('perfume1.png');
}

#perfume2{
	left: -7%;
	bottom: -15%;
	background-image: url('perfume2.png');
	transform: rotate(40deg);
}

#perfume3{
	right: -10%;
	bottom: -15%;
	background-image: url('perfume3.png');
	transform: rotate(-80deg);
}

#perfume4{
	right: -10%;
	top: -20%;
	background-image: url('perfume4.png');
}

@media screen and (max-width: 768px){
	.bg-perfume{
		width: 200px;
		height: 350px;
	}

	#perfume1{
		left: -13%;
		top: -15%;
	}

	#perfume2{
		left: -23%;
		bottom: -10%;
	}

	#perfume3{
		right: -30%;
		bottom: -30%;
	}

	#perfume4{
		right: -20%;
		top: -20%;
	}
}

@media screen and (max-width: 350px){
	.bg-perfume{
		width: 150px;
		height: 150px;

	}

	#perfume4{
		top: 50%;
		right: -30%
	}
}

@media screen and (min-width: 768px) and (max-width: 998px){
	#perfume3{
		right: -17%;
		bottom: -10%;
	}
}

@media screen and (min-width: 768px) and (max-width: 1300px){
	#perfume4{
		right: -20%;
	}
}
