.lp-pant{
    &--footer{
        background-color: #d0b376;
        padding: 20px;
        border-top: 15px solid;
        border-image-source: linear-gradient(to right bottom, #aa6d28 2%, #FCF6BA, #f0e397, #aa6d28 50% );
        border-image-slice: 1;
       
        &__conhecendo, &__detalhes{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            @media screen and (max-width: 768px){
                flex-direction: column;
            }
        }
        
        b{
            margin-right: 20px;
            font-family: 'Utopia';
        }

        p{
            font-family: 'Pluto Sans Regular';
            font-size: 15px;
            font-weight: 500;
            margin: 5px;
        }

        @media screen and (max-width: 768px){
            text-align: center; 
        }
    }
}