@font-face {font-family: "Pluto Sans Regular";
    src: url("./fonts/PlutoSansRegular.eot");
    src:  url("./fonts/PlutoSansRegular.ttf") format("truetype"),
}

@font-face {font-family: "Pluto Sans Light";
    src: url("./fonts/PlutoSansLight.eot");
    src: url("./fonts/PlutoSansLight.ttf") format("truetype");
  
}

@font-face {font-family: "Pluto Sans Bold";
    src: url("./fonts/PlutoSansBold.eot");
    src: url("./fonts/PlutoSansBold.ttf") format("truetype");
  
}

@font-face {font-family: "Utopia";
    src: url("./fonts/UtopiaSemiboldItalic.eot");
    src: url("./fonts/UtopiaSemiboldItalic.ttf") format("truetype");
}