@font-face {font-family: "Walsheim Regular";
    src: url("../fonts/WalsheimProRegular.eot");
    src:  url("../fonts/WalsheimProRegular.ttf") format("truetype"),
}

@font-face {font-family: "Walsheim Medium";
    src: url("../fonts/WalsheimProMedium.eot");
    src:  url("../fonts/WalsheimProMedium.ttf") format("truetype"),
}

@font-face {font-family: "Walsheim Bold";
    src: url("../fonts/WalsheimProBold.eot");
    src: url("../fonts/WalsheimProBold.ttf") format("truetype");
}
