.lp-pant{
    &--inner-title{
        font-family: 'Utopia';
        font-size: 33px;
        font-weight: lighter;
        color: #d0b376;
        margin-bottom: 30px;
    }
    
    &--inner-desc{
        font-family: 'Pluto Sans Regular';
        font-size: 16px;
        font-weight: lighter;
        color: #fff;
        margin-bottom: 40px;
        letter-spacing: 1px;
    
        @media screen and(max-width: 768px){
            margin-bottom: 20px;
        }
    }

}

.p-0{
    padding: 0 !important;
}

.m-0{
    margin: 0 !important;
}
